{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Teams competing{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                <form action="" method="post">
                    <div class="box-header with-border">
                        <h3 class="box-title">Change compete of Teams <input class="btn btn-success" type="submit" name="_do" value="perform change"></h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Competing</th>
                                    {% if problems %}
                                        <th>Problems</th>
                                    {% endif %}
                                </tr>
                                {% for t in teams %}
                                    <tr>
                                        <td>
                                            {{ t.name }}
                                        </td>
                                        <td>
                                            {% if t.competing %}competing{% else %}not competing{% endif %}
                                        </td>
                                        {% if problems %}
                                            <td>{% for p in t.problems %}<span class="label label-success"> {{ p }}</span> {% endfor %}
                                                {% for p in t.del_problems %}<span class="label label-danger"> {{ p }}</span> {% endfor %}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <input type="hidden" name="action" value="{{ action }}" />
                    <input type="hidden" name="{{ stage_field }}" value="2" />
                    <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
                </form>
                </div>
            </div>
        </div>
    {% endblock %}
