{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}About{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Used Projects</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Django Framework</h3>
                                    </div>
                                    <div class="box-body">
                                        <a href="https://www.djangoproject.com/">https://www.djangoproject.com/
                                            </a>
                                    </div>
                                    <div class="box-footer">
                                        with libraries:
                                        <ul>
                                            <li>django-bootstrap3</li>
                                            <li>django_select2</li>
                                            <li>django-formtools</li>
                                            <li>unidecode</li>
                                            <li>PyYAML</li>
                                            <li>celery</li>
                                            <li>django-celery-results</li>
                                            <li>django-downloadview</li>
                                            <li>jinja2</li>
                                            <li>Pillow</li>
                                            <li>psycopg2
                                            <li>redis</li>
                                            <li>gunicorn</li>
                                            <li>django-redis</li>
                                            <li>raven</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Theme AdminLTE by Almsaeed Studio</h3>
                                    </div>
                                    <div class="box-body">
                                        <a href="https://github.com/almasaeed2010/AdminLTE">https://github.com/almasaeed2010/AdminLTE
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">AdminLTE Django integration</h3>
                                    </div>
                                    <div class="box-body">
                                        <a href="https://github.com/kyzima-spb/django-adminlte-full/tree/dev-master">https://github.com/kyzima-spb/django-adminlte-full/tree/dev-master
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Twitter emojis</h3>
                                    </div>
                                    <div class="box-body">
                                        <a href="https://github.com/twitter/twemoji">https://github.com/twitter/twemoji
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Font Awesome icons</h3>
                                    </div>
                                    <div class="box-body">
                                        <a href="https://github.com/FortAwesome/Font-Awesome">https://github.com/FortAwesome/Font-Awesome
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
