{% extends "dashboard/base.html" %}
{% load bootstrap3 i18n dashboard %}

{% block page_title %}{% trans 'Log in' %}{% endblock %}

{% block body_css %}hold-transition login-page{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            {% block logo %}
                <a href="#">IYPT<b>CC</b></a>
            {% endblock %}
        </div>
    
        <div class="login-box-body">
                <p class="login-box-msg">
                    An activation email has been sent. Please click on the link in the email.
                </p>

            <div class="row">
                <div class="col-xs-8">
                        <!--<div class="checkbox icheck">-->
                            <!--<label>-->
                                <!--<input type="checkbox" id="remember_me" name="_remember_me" value="on"> Remember Me-->
                            <!--</label>-->
                        <!--</div>-->
                    </div>
                    <div class="col-xs-4">
                        <a href="{% url 'auth_login' %}" class="btn btn-primary btn-block btn-flat">
                            {% trans 'Log in' %}
                        </a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_inline %}
    <script>
        document.getElementById('id_username').focus();

        $(function () {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}
