{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block stylesheets %}
        {{ block.super }}
        {{ form.media.css }}
    {% endblock %}

    {% block page_title %}Feedback Grade{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Grade</h3>
                    </div>
                    <div class="box-body">
                        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-success" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}