.idea

*.py[cod]

*.pyc

*.sqlite3

.directory

/venv
/env*
/env-d110
/env37
/oldenv
/scratch

# coverage
/htmlcov
.coverage

/static
/media

# utf confusing

/categories.json
/confusables.json

bandit.html

/ccmodels*

celerybeat-schedule
