{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block page_title %}Schedule Templates{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Schedules
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Teams</th>
                                    <th></th>
                                </tr>
                                {% for s in schedules %}
                                <tr>
                                    <td>{{ s.name }}</td>
                                    <td>{{ s.teams }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url "schedule:show" s.id %}">show</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
