{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n json_nice %}

    {% block stylesheets %}
        {{ block.super }}
        {{ form.media.css }}
        {{ form.media.js }}
    {% endblock %}

    {% block styles_inline %}
        <style>
        .CodeMirror {
          height: auto;
        }
        </style>
    {% endblock %}

    {% block page_title %}Template{% endblock %}

    {% block page_content %}
        <div class="row">
            <form action="" method="post">{% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit</h3>
                    </div>
                    <div class="box-body">
                            {% bootstrap_field form.tname %}
                            {% if form.files %}
                            {% bootstrap_field form.files %}
                            {% endif %}
                            {% bootstrap_field form.type %}
                            {% bootstrap_field form.parent %}
                            {% if form.subject %}
                            {% bootstrap_field form.subject %}
                            {% endif %}
                            {{ form.src }}
                            <input type="submit" class="btn btn-success" name="_save" value="Save" />
                            <input type="submit" class="btn btn-success" name="_save_continue" value="Save & Continue" />
                            <a class="btn btn-warning" href="{% url "printer:templates" %}">cancel</a>
                            <input type="submit" class="btn btn-info" name="_source" value="render source" />
                    </div>
                </div>
            </div>
            {% if form.name %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Render</h3>
                    </div>
                    <div class="box-body">
                            {% bootstrap_field form.name %}
                            <input type="submit" class="btn btn-primary" name="_render" value="Render" />
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Test Context</h3>
                    </div>
                    <div class="box-body">
                        <pre>
{{ context|jsonniceify }}
                        </pre>
                    </div>
                </div>
            </div>
            </form>
        </div>
    {% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}