{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Accounts{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account List</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Owners</th>
                                    <th>Team</th>
                                    <th>Name</th>
                                    <th>Balance</th>
                                    <th>Balance Pending</th>
                                    <th></th>
                                </tr>
                                {% for ac in object_list %}
                                <tr>
                                    <td>{{ ac.account.id }}</td>
                                    <td>
                                        {% for o in ac.account.owners.all %}
                                            <span class="label label-default">{{ o.full_name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                       {{ ac.account.team }}
                                    </td>
                                    <td>{{ ac.account.name }}</td>
                                    <td>{{ ac.balance }}</td>
                                    <td>{{ ac.balance_pending }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url "account:list_account" ac.account.id %}">transactions</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
