{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Accounts{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account {{ id }}</h3>
                    </div>
                    <div class="box-body">
                        <p>{{ account }}</p>
                        <p>Balance: {{ balance }}</p>
                        <p>Balance pending: {{ balance_pending }}</p>
                        <form method="post">
                            {% bootstrap_form form %}
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" value="save"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Outgoing ({{ outgoing_sum }} total, {{ outgoing_pend }} pending) {% if account.owners.first.tournament.bank_generate_invoice %}<a class="btn btn-success" href="{% url "account:invoice_account" account.id %}">generate invoice</a>{% endif %}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>created at</th>
                                    <th>created by</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Amount</th>
                                    <th>Reference</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for ptree in outgoing %}
                                <tr class="bg-aqua tree-top">
                                <td><i class="fa fa-angle-down"></i></td>
                                    <td>{{ ptree.payment.created_at|date:"c" }}</td>
                                    <td>{{ ptree.payment.created_by }}</td>
                                    <td>{% if ptree.payment.sender.team %}{{ ptree.payment.sender.team }}{% elif ptree.payment.sender.name %}{{ ptree.payment.sender.name }}{% else %}{{ ptree.payment.sender }}{% endif %}</td>
                                    <td>
                                        {% if ptree.payment.receiver.team %}{{ ptree.payment.receiver.team }}{% elif ptree.payment.receiver.name %}{{ ptree.payment.receiver.name }}{% else %}{{ ptree.payment.receiver }}{% endif %}
                                    </td>
                                    <td>{{ ptree.payment.amount }}

                                    </td>
                                    <td>{{ ptree.payment.reference|linebreaksbr }}</td>
                                    {% if ptree.payment.aborted_at %}
                                    <td>aborted at {{ ptree.payment.aborted_at|date:"c" }}</td>
                                    <td>{{ ptree.payment.abort_reason }}</td>
                                        <td></td>
                                    {% elif ptree.payment.cleared_at %}
                                        <td> cleared at {{ ptree.payment.cleared_at }}</td>
                                        <td>by {{ ptree.payment.cleared_by }}</td>
                                        <td></td>
                                    {% else %}
                                        <td class="bg-danger">pending</td>
                                        <td>{% if ptree.payment.due_at %}due at {{ ptree.payment.due_at|date:"c" }}{% endif %}</td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                                    {% for p in ptree.subpayments %}
                                        <tr>
                                        <td></td>
                                        <td>{{ p.created_at|date:"c" }}</td>
                                        <td>{{ p.created_by }}</td>
                                        <td>{% if p.sender.team %}{{ p.sender.team }}{% elif p.sender.name %}{{ p.sender.name }}{% else %}{{ p.sender }}{% endif %}</td>
                                        <td>
                                            {% if p.receiver.team %}{{ p.receiver.team }}{% elif p.receiver.name %}{{ p.receiver.name }}{% else %}{{ p.receiver }}{% endif %}
                                        </td>
                                        <td>{{ p.amount }}

                                        </td>
                                        <td>{{ p.reference|linebreaksbr }}</td>
                                        {% if p.aborted_at %}
                                            <td>aborted at {{ p.aborted_at|date:"c" }}</td>
                                            <td>by {{ p.aborted_by }}</td>
                                            <td>{{ p.abort_reason }}</td>
                                        {% elif p.cleared_at %}
                                            <td> cleared at {{ p.cleared_at }}</td>
                                            <td>by {{ p.cleared_by }}</td>
                                            <td></td>
                                        {% else %}
                                            <td class="bg-danger">pending</td>
                                            <td>{% if p.due_at %}due at {{ p.due_at|date:"c" }}{% endif %}</td>
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Incomming ({{ incomming_sum }} total, {{ incomming_pend }} pending)</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>created at</th>
                                    <th>created by</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Amount</th>
                                    <th>Reference</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for ptree in incomming %}
                                <tr class="bg-aqua tree-top">
                                <td><i class="fa fa-angle-down"></i></td>
                                    <td>{{ ptree.payment.created_at|date:"c" }}</td>
                                    <td>{{ ptree.payment.created_by }}</td>
                                    <td>{% if ptree.payment.sender.team %}{{ ptree.payment.sender.team }}{% elif ptree.payment.sender.name %}{{ ptree.payment.sender.name }}{% else %}{{ ptree.payment.sender }}{% endif %}</td>
                                    <td>
                                        {% if ptree.payment.receiver.team %}{{ ptree.payment.receiver.team }}{% elif ptree.payment.receiver.name %}{{ ptree.payment.receiver.name }}{% else %}{{ ptree.payment.receiver }}{% endif %}
                                    </td>
                                    <td>{{ ptree.payment.amount }}

                                    </td>
                                    <td>{{ ptree.payment.reference|linebreaksbr }}</td>
                                    {% if ptree.payment.aborted_at %}
                                    <td>aborted at {{ ptree.payment.aborted_at|date:"c" }}</td>
                                    <td>{{ ptree.payment.abort_reason }}</td>
                                        <td></td>
                                    {% elif ptree.payment.cleared_at %}
                                        <td> cleared at {{ ptree.payment.cleared_at }}</td>
                                        <td>by {{ ptree.payment.cleared_by }}</td>
                                        <td></td>
                                    {% else %}
                                        <td class="bg-danger">pending</td>
                                        <td>{% if ptree.payment.due_at %}due at {{ ptree.payment.due_at|date:"c" }}{% endif %}</td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                                    {% for p in ptree.subpayments %}
                                        <tr>
                                        <td></td>
                                        <td>{{ p.created_at|date:"c" }}</td>
                                        <td>{{ p.created_by }}</td>
                                        <td>{% if p.sender.team %}{{ p.sender.team }}{% elif p.sender.name %}{{ p.sender.name }}{% else %}{{ p.sender }}{% endif %}</td>
                                        <td>
                                            {% if p.receiver.team %}{{ p.receiver.team }}{% elif p.receiver.name %}{{ p.receiver.name }}{% else %}{{ p.receiver }}{% endif %}
                                        </td>
                                        <td>{{ p.amount }}

                                        </td>
                                        <td>{{ p.reference|linebreaksbr }}</td>
                                        {% if p.aborted_at %}
                                            <td>aborted at {{ p.aborted_at|date:"c" }}</td>
                                            <td>by {{ p.aborted_by }}</td>
                                            <td>{{ p.abort_reason }}</td>
                                        {% elif p.cleared_at %}
                                            <td> cleared at {{ p.cleared_at }}</td>
                                            <td>by {{ p.cleared_by }}</td>
                                            <td></td>
                                        {% else %}
                                            <td class="bg-danger">pending</td>
                                            <td>{% if p.due_at %}due at {{ p.due_at|date:"c" }}{% endif %}</td>
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Invoices</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Rendered at</th>
                                    <th>PDF</th>
                                </tr>
                                {% for pdf in pdfs %}
                                        <tr>
                                            <td>{{ pdf.pure_name }}</td>
                                            <td>
                                                    {{ pdf.rendered_at|date:'Y b j  H:m:s e' }}
                                            </td>
                                            <td>
                                                {% if pdf.file %}
                                                    <a href="{% url "account:invoice_view" id pdf.id %}" class="btn btn-info"><i class="fa fa-file-pdf-o"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascripts_inline %}
    <script>
    $('.tree-top').click(function(){
    $(this).nextUntil('tr.tree-top').slideToggle(1);
    });
    </script>
{% endblock %}
