{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Roles{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Role List</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Fee</th>
                                    <th></th>
                                </tr>
                                {% for role in object_list %}
                                <tr>
                                    <td>
                                        {{ role.name }}
                                    </td>
                                    <td>{{ role.fee }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url "bank:fee_role_edit" role.id %}">edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
