{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block page_title %}Assign Jurors{% endblock %}

    {% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">error</h3>
                        </div>
                        <div class="box-body">
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}
