{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}{{ juror.attendee.active_user.user.first_name }} {{ juror.attendee.active_user.user.last_name }}{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Juror Information</h3>
                    </div>
                    <div class="box-body">
                        blub
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for att in attendences %}
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Round {{ att.fight.round.order }}</h3>
                        </div>
                        <div class="box-body">
                            <p> Room: {{ att.fight.room }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
