{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

{% block stylesheets %}
        {{ block.super }}
        {{ form.media.css }}
    {% endblock %}

    {% block page_title %}Participation Data{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Attendee Properties List <a href="{% url "tournament:create_property" %}" class="btn btn-success">add</a> <a href="{% url "tournament:import_property" %}" class="btn btn-info">import</a>
                           </h3>
                    </div>
                    <div class="box-body no-padding table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>type</th>
                                    <th>required for</th>
                                    <th>optional for</th>
                                    <th>required if true</th>
                                    <th>edit multiple</th>
                                    <th>deadline</th>
                                    <th>User Property</th>
                                    <th>Application Required</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for ap in object_list %}
                                <tr>
                                    <td>
                                        {{ ap.name }}
                                    </td>
                                    <td>{{ ap.type }}</td>
                                    <td>{% for req in ap.required.all %}<span class="label label-default">{{ req.name }}</span> {% endfor %}</td>
                                    <td>{% for opt in ap.optional.all %}<span class="label label-default">{{ opt.name }}</span> {% endfor %}</td>
                                    <td>{{ ap.required_if }}</td>
                                    <td>{{ ap.edit_multi }}</td>
                                    <td>{{ ap.edit_deadline }}</td>
                                    <td>{{ ap.user_property }}</td>
                                    <td>{% for req in ap.apply_required.all %}<span class="label label-default">{{ req.name }}</span> {% endfor %}</td>
                                    <td>{% if ap.manager_confirmed %}<span class="label label-info">with confirmation</span>{% endif %}
                                    {% if ap.hidden %}<span class="label label-info">hidden</span>{% endif %}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url "tournament:change_property" ap.id %}">edit</a>
                                        <a class="btn btn-danger" href="{% url "tournament:delete_property" ap.id %}">delete</a>
                                        {% if not forloop.first %}
                                        <form class="inline" action="{% url "tournament:move_property" ap.id "up" %}" method="post">{% csrf_token %}<button class="btn btn-info" type="submit"><i class="fa fa-arrow-up"></i></button></form>
                                        {% endif %}
                                        {% if not forloop.last %}
                                        <form class="inline" action="{% url "tournament:move_property" ap.id "down" %}" method="post">{% csrf_token %}<button class="btn btn-info" type="submit"><i class="fa fa-arrow-down"></i></button></form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Scrub Data</h3>
                    </div>
                    <div class="box-body">
                        all data, excluding:
                        <form action="{% url "tournament:properties_scrub" %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-sm btn-warning" value="prepare scrub">
                        </form>
                        <a href="{% url "tournament:properties_scrub" %}" class="btn btn-danger">preview scrub</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
