 {% if 'account' in wait_actions %} 
 <span class ="label label-primary">account </span>&nbsp; 
 {% endif %}  {% if 'name' in wait_actions %} 
 <span class ="label label-primary">set name </span>&nbsp; 
 {% endif %}  {% if 'profile' in wait_actions %} 
 <span class ="label label-primary">complete profile </span>&nbsp; 
 {% endif %}  {% if 'apply_experiencedjuror' in wait_actions %} 
 <span class ="label label-primary">apply as experienced juror </span>&nbsp; 
 {% endif %}  {% if 'apply_possiblejuror' in wait_actions %} 
 <span class ="label label-primary">apply as possible juror </span>&nbsp; 
 {% endif %}  {% if 'wait_possiblejuror' in wait_actions %} 
 <span class ="label label-primary">wait for approval by organisers </span>&nbsp; 
 {% endif %}  {% if 'apply_teamleaderjuror' in wait_actions %} 
 <span class ="label label-primary">apply to team as team leader jurur </span>&nbsp; 
 {% endif %}  {% if 'wait_experiencedjuror' in wait_actions %} 
 <span class ="label label-primary">wait for approval by organisers </span>&nbsp; 
 {% endif %}  {% if 'active_experiencedjuror' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'data' in wait_actions %} 
 <span class ="label label-primary">fill participation data </span>&nbsp; 
 {% endif %}  {% if 'associate_experiencedjuror' in wait_actions %} 
 <span class ="label label-primary">associate to team </span>&nbsp; 
 {% endif %}  {% if 'wait_accept_experiencedjuror' in wait_actions %} 
 <span class ="label label-primary">wait for approval by team manager </span>&nbsp; 
 {% endif %}  {% if 'setpw' in wait_actions %} 
 <span class ="label label-primary">manage team </span>&nbsp; 
 {% endif %}  {% if 'wait_accept_teamleaderjuror' in wait_actions %} 
 <span class ="label label-primary">wait for approval by team manger </span>&nbsp; 
 {% endif %}  {% if 'active_teamleaderjuror' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'apply_ioc' in wait_actions %} 
 <span class ="label label-primary">apply as IOC for origin </span>&nbsp; 
 {% endif %}  {% if 'wait_ioc' in wait_actions %} 
 <span class ="label label-primary">wait for approval by organisers </span>&nbsp; 
 {% endif %}  {% if 'active_ioc' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'apply_manager' in wait_actions %} 
 <span class ="label label-primary">apply as team manager </span>&nbsp; 
 {% endif %}  {% if 'wait_manager' in wait_actions %} 
 <span class ="label label-primary">wait for approval by organisers </span>&nbsp; 
 {% endif %}  {% if 'active_manager' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'active_role' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'associate_role' in wait_actions %} 
 <span class ="label label-primary">associate to team </span>&nbsp; 
 {% endif %}  {% if 'wait_visitor' in wait_actions %} 
 <span class ="label label-primary">wait for approval by team manager </span>&nbsp; 
 {% endif %}  {% if 'active_visitor' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'wait_teammember' in wait_actions %} 
 <span class ="label label-primary">wait for approval by team manager </span>&nbsp; 
 {% endif %}  {% if 'active_teammember' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'participate' in wait_actions %} 
 <span class ="label label-primary">participate </span>&nbsp; 
 {% endif %}  {% if 'apply_teammember' in wait_actions %} 
 <span class ="label label-primary">apply as team member </span>&nbsp; 
 {% endif %}  {% if 'wait_role' in wait_actions %} 
 <span class ="label label-primary">wait for approval by organisers </span>&nbsp; 
 {% endif %}  {% if 'wait_accept_role' in wait_actions %} 
 <span class ="label label-primary">wait for approval by team manager </span>&nbsp; 
 {% endif %}  {% if 'apply_teamleader' in wait_actions %} 
 <span class ="label label-primary">apply as team leader </span>&nbsp; 
 {% endif %}  {% if 'wait_teamleader' in wait_actions %} 
 <span class ="label label-primary">wait for approval by team manager </span>&nbsp; 
 {% endif %}  {% if 'active_teamleader' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %}  {% if 'associate_visitor' in wait_actions %} 
 <span class ="label label-primary">apply to team as visitor </span>&nbsp; 
 {% endif %}  {% if 'apply_role' in wait_actions %} 
 <span class ="label label-primary">apply with role: LOC, EC, independent visitor, ... </span>&nbsp; 
 {% endif %}  {% if 'apply_loc' in wait_actions %} 
 <span class ="label label-primary">apply as local orga: time keeper, guide </span>&nbsp; 
 {% endif %}  {% if 'wait_loc' in wait_actions %} 
 <span class ="label label-primary">wait for approval by LOC </span>&nbsp; 
 {% endif %}  {% if 'active_loc' in wait_actions %} 
 <span class ="label label-primary">set active tournament </span>&nbsp; 
 {% endif %} 