{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block stylesheets %}
        {{ block.super }}
        {{ upform.media.css }}
    {% endblock %}

{% block javascripts_head %}
    <script src="/static/raven-js/dist/raven.min.js"></script>
{% endblock %}

    {% block page_title %}Profile{% endblock %}

    {% block page_content %}
        <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for.
          </p>
            {% if request.sentry.id %}
                <p>If you need assistance, you may reference this error as
                <strong>{{ request.sentry.id }}</strong>.</p>
            {% endif %}

{% if request.sentry.id %}
  <script>
  Raven.showReportDialog({
    eventId: '{{ request.sentry.id }}',

    // use the public DSN (dont include your secret!)
    dsn: 'https://52709813eb5d4fc599da7f7c3de5359d@sentry.iypt.nlogn.org/2'
  });
  </script>
{% endif %}
        </div>
      </div>
    {% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{ upform.media.js }}
{% endblock %}
