{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Tournament{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Round {{ stages.0.0.fight.round.order }} clocks</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {% for sts in stages %}
                                <div class="col-md-6">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"> Stage {{ sts.0.order }}</h3>
                                        </div>
                                        <div class="box-body">
                                            {% for s in sts %}
                                                <div>{{ s.fight.room.name }} <p style="display: inline;" id="stage-{{ s.fight.id }}-{{ s.order }}">blub</p></div>
                                                <div class="progress">
                                                    {% for p in phases %}
                                                        <div class="progress-bar progress-bar-{% if forloop.counter|divisibleby:2 %}info{% else %}primary{% endif %}" role="progressbar" id="bar-{{ s.fight.id }}-{{ s.order }}-{{ p.id }}" style="width:{% widthratio p.duration total_duration 100 %}%">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascripts_inline %}
    <script src="/static/reconnecting-websocket/reconnecting-websocket.min.js"></script>
    <script>

        var phases = new Array();

        window.onload=function() {
            {% for p in phases %}
            phases.push(new Phase("{{ p.name }}", {{ p.duration }} , {% if p.linked %}true{% else %}false{% endif %}, {{ p.id }}));
            {% endfor %}
          }

          function Phase (name, duration, linked, id) {
            this.name = name;
            this.duration = duration;
            this.linked_offset = 0;
            this.linked = linked;
            this.id = id;
            this.current_time = 0;
          }

            var socketProto = 'wss://';

            if (location.protocol != 'https:') {
                var socketProto = 'ws://';
            }

                sock = new ReconnectingWebSocket(
                    socketProto + window.location.host +
                    '/ws/clocks/' + {{ stages.0.0.fight.round.order }} + '/');

                sock.onmessage = function (e) {
                    var data = JSON.parse(e.data);
                    var message = data['state'];
                    var fight = data['fight']
                    var stage = data['stage']
                    console.log(message)
                    var before = true;
                    for (i = 0; i < phases.length; i++) {
                        if (phases[i].id == parseInt(message["id"])) {
                            console.log("found phase")
                            before = false
                            console.log(self)
                            $("#bar-" + fight + "-" + stage + "-" + phases[i].id).css("width", (100 * message["elapsed"] /{{ total_duration }}) + "%")
                        } else if (before) {
                            $("#bar-" + fight + "-" + stage + "-" + phases[i].id).css("width", (100 * phases[i].duration /{{ total_duration }}) + "%")
                        } else {
                            $("#bar-" + fight + "-" + stage + "-" + phases[i].id).css("width", "0%")
                        }
                    }

                    var elap = parseInt(message['elapsed'])
                    $("#stage-" + fight+"-"+stage).text(Math.floor(elap / 60) + ":" + ("000" + (elap % 60)).slice(-2) + " : " + message["name"])
                    //document.querySelector('#clock-state').innerHTML = (message['elapsed']+": "+ message["name"]);
                };

                sock.onclose = function (e) {
                    console.error(e)
                    console.error('Chat socket closed unexpectedly');
                };

    </script>
{% endblock%}