{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block stylesheets %}
        {{ block.super }}
        {{ form.media.css }}
    {% endblock %}

    {% block page_title %}Tournament{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Round {{ fights.0.round.order }} clocks</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {% for f in fights %}
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"> {{ f.room.name }}</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="progress">
                                                {% for p in phases %}
                                                    <div class="progress-bar progress-bar-{% if forloop.counter|divisibleby:2 %}info{% else %}primary{% endif %}" role="progressbar" id="bar-{{ f.id }}-{{ p.id }}" style="width:{% widthratio p.duration total_duration 100 %}%">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <p id="stage-{{ f.id }}">blub</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block javascripts_inline %}
    <script>
        var fightIDs = [{% for f in fights %}{{ f.id }},{% endfor %}];

        var phases = new Array();

        window.onload=function() {
            {% for p in phases %}
            phases.push(new Phase("{{ p.name }}", {{ p.duration }} , {% if p.linked %}true{% else %}false{% endif %}, {{ p.id }}));
            {% endfor %}
          }

          function Phase (name, duration, linked, id) {
            this.name = name;
            this.duration = duration;
            this.linked_offset = 0;
            this.linked = linked;
            this.id = id;
            this.current_time = 0;
          }

        console.log(fightIDs)

        fightIDs.forEach(function (elem) {
            var socketProto = 'wss://';

            if (location.protocol != 'https:') {
                var socketProto = 'ws://';
            }

            sock = new WebSocket(
            socketProto + window.location.host +
            '/ws/clock/' + elem + '/control/');

        sock.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['state'];
            console.log(message)
            var before = true
            for(i=0;i<phases.length;i++)
            {
                if(phases[i].id == parseInt(message["id"]))
                {
                    console.log("found phase")
                    before = false
                    $("#bar-"+elem+"-"+phases[i].id).css("width",(100*message["elapsed"]/{{ total_duration }})+"%")
                }
                else if(before)
                {
                    $("#bar-"+elem+"-"+phases[i].id).css("width",(100*phases[i].duration/{{ total_duration }})+"%")
                }
                else
                {
                    $("#bar-"+elem+"-"+phases[i].id).css("width","0%")
                }
            }

            var elap = parseInt(message['elapsed'])
            $("#stage-"+elem).text(Math.floor(elap/60)+":"+("000" + (elap%60)).slice(-2)+" : "+ message["name"])
            //document.querySelector('#clock-state').innerHTML = (message['elapsed']+": "+ message["name"]);
        };

        sock.onclose = function(e) {
            console.error(e)
            console.error('Chat socket closed unexpectedly');
        };
        })

    </script>
{% endblock%}