{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block page_title %}Fight: {{ fight }} {% if fight.locked %}<span class="label label-info"><i class="fa fa-lock"></i></span>{% endif %} {% endblock %}

    {% block page_content %}
        <form method="post" role="form">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="{% url 'fight:fightjury' fight.pk %}">Jury</a>
                        </li>
                        {% for s in all_stages %}
                            <li>
                                <a href="{% url 'fight:fight' fight.pk forloop.counter %}">Stage {{ forloop.counter }}</a>
                            </li>
                        {% endfor %}
                        <li class="active">
                            <a href="{% url 'fight:fightpre' fight.pk %}">Check</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                            <div id="tab_active" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Jurors</h3>
                                            </div>
                                            <div class="box-body">
                                                <p class="text-bold">Chair</p>
                                                <p>{{ chair.juror.attendee.full_name }}</p>
                                                <p class="text-bold">Jurors</p>
                                                {% for j in jurors %}
                                                    <p>{{ j.juror.attendee.full_name }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if warnings %}
                                            <div class="box box-warning">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Warnings</h3>
                                                </div>
                                                <div class="box-body">
                                                    {% for warning in warnings %}
                                                        <p>{{ warning }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if errors %}
                                            <div class="box box-danger">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Errors</h3>
                                                </div>
                                                <div class="box-body">
                                                    {% for error in errors %}
                                                        <p>{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Prelim Result</h3>
                                            </div>
                                            <div class="box-body no-padding">
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <th></th>
                                                        <th>cur</th>
                                                        <th>fact</th>
                                                        <th>est.</th>
                                                    </tr>
                                                    {% for t in result %}
                                                    <tr>
                                                        <td>{{ t.name }}</td><td>{{ t.sp|floatformat:1 }}</td><td>{{ t.factors }} of {{ t.total_factor }}</td><td>{{ t.estimate|floatformat:1 }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>

                                            </div>
                                        </div>
                                        <div class="box box-success">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Save</h3>
                                            </div>
                                            <div class="box-body">
                                                {% csrf_token %}
                                                {% buttons %}
                                                    <input class="btn btn-primary" type="submit" name="_save" value="Save and Lock">
                                                    {% if validator %}
                                                        <input class="btn btn-success {% if not fight.locked %}disabled{% endif %}" {% if not fight.locked %}disabled{% endif %} type="submit" name="_validate" value="Validate">
                                                    {% endif %}
                                                {% endbuttons %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        {% for stage in stages %}
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Stage {{ forloop.counter }}</h3>
                                                {% if stage.presented %}
                                                    <span class="badge bg-green">{{ stage.presented }}</span>
                                                {% endif %}
                                                {% for rej in stage.rejections %}
                                                    <span class="badge bg-red">{{ rej }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="box-body no-padding">
                                                <table class="table">
                                                    <col style="width:25%">
                                                    <col style="width:25%">
                                                    <col style="width:25%">
                                                    <col style="width:25%">
                                                    <tbody>
                                                        <tr>
                                                            <th></th>
                                                            <th>
                                                                <p>Reporter (Team {{ stage.teams.rep }})</p>
                                                                <p>{{ stage.persons.rep }}</p>
                                                            </th>
                                                            <th>
                                                                    <p>Opponent (Team {{ stage.teams.opp }})</p>
                                                                <p>{{ stage.persons.opp }}</p>
                                                            </th>
                                                            {%  if stage.teams.rev %}
                                                            <th>
                                                                <p>Reviewer (Team {{ stage.teams.rev }})</p>
                                                                <p>{{ stage.persons.rev }}</p>
                                                            </th>
                                                            {% endif %}
                                                        </tr>
                                                        {% for juror in stage.jurors %}
                                                            <tr>
                                                                <td>{{ juror.name }} {% if not juror.voting %}<i class="fa fa-warning"></i> non-voting{% endif %}</td>
                                                                <td {% if not juror.rep and juror.voting %} class="bg-red"{% endif %}>{% if juror.rep_partial %}1{% for g in juror.rep_partial %}<span  data-toggle="tooltip" title="{{ g.group.name }}">{% if g.value > 0 %}+{% endif %}{{ g.value }}</span>{% endfor %} = {% endif %} {{ juror.rep }}</td>
                                                                <td {% if not juror.opp and juror.voting %} class="bg-red"{% endif %}>{% if juror.opp_partial %}1{% for g in juror.opp_partial %}<span  data-toggle="tooltip" title="{{ g.group.name }}">{% if g.value > 0 %}+{% endif %}{{ g.value }}</span>{% endfor %} = {% endif %}{{ juror.opp }}</td>
                                                                {%  if stage.teams.rev %}
                                                                <td {% if not juror.rev and juror.voting %} class="bg-red"{% endif %}>{% if juror.rev_partial %}1{% for g in juror.rev_partial %}<span  data-toggle="tooltip" title="{{ g.group.name }}">{% if g.value > 0 %}+{% endif %}{{ g.value }}</span>{% endfor %} = {% endif %}{{ juror.rev }}</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                        <tr style="border-top: 2px solid black;">
                                                            <td>Average:</td>
                                                                <td>{{ stage.average.rep|floatformat:2 }}</td>
                                                                <td>{{ stage.average.opp|floatformat:2 }}</td>
                                                                <td>{{ stage.average.rev|floatformat:2 }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Factor:</td>
                                                                <td>{{ stage.factors.rep|floatformat:1 }}</td>
                                                                <td>{{ stage.factors.opp|floatformat:1 }}</td>
                                                                <td>{{ stage.factors.rev|floatformat:1 }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Points:</th>
                                                                <th>{{ stage.w_average.rep|floatformat:2 }}</th>
                                                                <th>{{ stage.w_average.opp|floatformat:2 }}</th>
                                                                <th>{{ stage.w_average.rev|floatformat:2 }}</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    {% endblock %}
