{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}

    {% block stylesheets %}
        {{ block.super }}
        {{ form.media.css }}
    {% endblock %}

    {% block page_title %}User{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit User</h3>
                    </div>
                    <div class="box-body">
                        <form action="" method="post">{% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-success" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
            {% if object.id %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Hijack User</h3>
                    </div>
                    <div class="box-body">
                        <form action="{% url "hijack:login_with_id" object.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Hijack {{ object.first_name }}</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}