{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Applications{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Apply for {{ tournament }}</h3>
                    </div>
                    <div class="box-body">
                        <form method="post">
                            This is only for persons who do not belong to a team, but completely independent.

                            {% bootstrap_form form %}
                            {% csrf_token %}
                            <input type="submit" value="apply" class="btn btn-success"/>
                        </form>
                    </div>
                </form>
                </div>
            </div>
        </div>
    {% endblock %}
