{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n dashboard %}

    {% block stylesheets %}
        {{ block.super }}
        {{ form.media.css }}
    {% endblock %}

    {% block page_title %}Attendees{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <form method="post" role="form">
                        <div class="col-md-12">
                            <div class="box box-primary {% if not form.errors %}collapsed-box{% endif %}">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Actions</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa {% if form.errors %}fa-minus{% else %}fa-plus{% endif %}"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box box-danger">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">delete</h3>
                                                </div>
                                                <div class="box-body">
                                                    <input class="btn btn-danger" type="submit" name="_delete" value="delete selected">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">print template</h3>
                                                </div>
                                                <div class="box-body">
                                                    {{ form.template }}
                                                </div>
                                                <div class="box-footer">
                                                    <div class="btn-group">
                                                        <input class="btn btn-primary" type="submit" name="_print" value="print with template">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">email template</h3>
                                                </div>
                                                <div class="box-body">
                                                    {{ form.emails }}
                                                </div>
                                                <div class="box-footer">
                                                    <div class="btn-group">
                                                        <input class="btn btn-primary" type="submit" name="_mail" value="mail with template">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Download files</h3>
                                                </div>
                                                <div class="box-body">
                                                    {{ form.download }}
                                                </div>
                                                <div class="box-footer">
                                                    <div class="btn-group">
                                                        <input class="btn btn-primary" type="submit" name="_download" value="download files">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="box box-info">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">get email link</h3>
                                                </div>
                                                <div class="box-body">
                                                    <input class="btn btn-info" type="submit" name="_mailto" value="get mail for selected">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">set parameters</h3>
                                                </div>
                                                <div class="box-body no-padding">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <th></th>
                                                                {% for apf in form.get_aps_forms %}
                                                                    <td>{{  apf.name }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                            <tr>
                                                                <td>set</td>
                                                                {% for apf in form.get_aps_forms %}
                                                                    <td>{{ apf.set_field }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                            <tr>
                                                                <td>value</td>
                                                                {% for apf in form.get_aps_forms %}
                                                                    <td>{{ apf.field }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="box-footer">
                                                    <div class="btn-group">
                                                        <input class="btn btn-primary" type="submit" name="_set_parameters" value="set parameters">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <div class="col-md-4">
                                            <div class="box box-danger">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">errors</h3>
                                                </div>
                                                <div class="box-body">
                                                    {{ form.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% csrf_token %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Attendees ({{ form.obj_list.field.choices|length }})
                                    </h3>
                                </div>
                                <div class="box-body no-padding table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th><input id="checkAll" type="checkbox"> all</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Team</th>
                                                <th>Roles</th>
                                                <th>Verified Juror</th>
                                                <th></th>
                                                {% for ap in aps %}
                                                    <th>{{ ap }}</th>
                                                {% endfor %}
                                            </tr>
                                            {% for choice_id, choice_label in form.obj_list.field.choices %}
                                                <tr>
                                                    <td>
                                                        <input name="obj_list" class="obj-checkbox" value="{{ choice_id }}" type="checkbox">
                                                    </td>
                                                    <td>
                                                        {{ choice_label.full_name }}
                                                    </td>
                                                    <td>
                                                        <a href="mailto:{{ choice_label.active_user.user.email }}">{{ choice_label.active_user.user.email }}</a>
                                                    </td>
                                                    <td>
                                                        {% for t in choice_label.teammember_set.all %}
                                                            <span class="label label-default">{{ t.team.origin.name }}</span>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for role in choice_label.roles.all %}<span class="label label-default">{{ role.name }}</span> {% endfor %}
                                                    </td>
                                                <td>
                                                    {% if att_data|hash:choice_id|hash:"juror" %}
                                                        <span><i class="fa fa-check"></i></span>
                                                    {% endif %}
                                                </td>
                                                <td><a href="{% url "registration:change_attendeeproperty" choice_id %}" class="btn btn-primary">edit</a></td>
                                                {% for dat in att_data|hash:choice_id|hash:"data" %}
                                                    {% if dat.needed %}
                                                        {% if dat.value %}
                                                        <td>{{ dat.value }}</td>
                                                        {% elif dat.list %}
                                                            <td>{{ dat.list|join:', ' }}</td>
                                                        {% elif dat.image %}
                                                            <td><a href="{% url "registration:file_property" 'a' choice_label.id dat.image.id dat.image.url %}">{{ dat.image.url }}</a></td>
                                                        {% elif dat.file %}
                                                            <td><a href="{% url "registration:file_property" 'a' choice_label.id dat.file.id dat.file.url %}">{{ dat.file.url }}</a></td>
                                                        {% elif dat.required %}
                                                            <td class="bg-danger">--</td>
                                                        {% elif dat.optional %}
                                                            <td class="bg-warning">--</td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filter</h3>
                    </div>
                    <div class="box-body">
                        {% include "plan/inc/filter.html" with filters=filters %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascripts_inline %}
    <script>
    $("#checkAll").click(function(){
        $('.obj-checkbox').not(this).prop('checked', this.checked);
    });
    </script>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}