{% extends "dashboard/base-layout.html" %}
{% load bootstrap3 i18n %}


    {% block page_title %}Payment{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Generate Invoice</h3>
                    </div>
                    <div class="box-body">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Generate PDF</h3>
                            </div>
                            <div class="box-body">
                                <p>This step is only required once. Please do not check boxes which are unselected, as this will invoice you twice!
                                </p>
                                <p>
                                    To generate a PDF of all your invoiced items, please go to <a href="{%  url "account:accounts" %}">Profile - Finance</a>
                                </p>
                            </div>
                        </div>
                        <form method="post">
                            {% bootstrap_form form %}
                            {% csrf_token %}
                            <input type="submit" value="create" class="btn btn-success"/>
                        </form>
                    </div>
                </form>
                </div>
            </div>
        </div>
    {% endblock %}
